<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: head}"></head>
<body id="pageCenter">
    <div th:replace="~{fragments :: header}"></div>
    <main>
        <h2>Add Passenger to Ride</h2>

        <form th:action="@{'/passenger/add/' + ${ride.id}}" method="post">

            <label>Full Name:</label>
            <input type="text" name="fullname" required>

            <label>Contact:</label>
            <input type="text" name="contact" required>

            <label>Address:</label>
            <input type="text" name="address" required>

            <label>Number of Passengers:</label>
            <input type="number" name="numPassengers" min="1" required>

            <button type="submit">Submit</button>
        </form>
    </main>
    <footer></footer>
</body>
</html>