<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: head}"></head>
<body id="pageCenter">
    <div th:replace="~{fragments :: header}"></div>
    <main>
        <aside class="imageRight">
            <img  th:if="${current.hasImage()}" th:src="'data:image' + ${current.carPhoto.getEncoding()} + ';base64' + ${current.carPhoto.getBase64Image()}" alt="Image of driver's car"/>
            <img th:unless="${current.hasimage()}" th:src="@{.../static/Images/noimage.png}" alt="No image provided"/>
        </aside>
        <p sec:authorized="isAuthenticated()">Welcome <span sec:authentication="principal.fullname">fullname</span></p>
        <h2 th:text="${current.name}"></h2>
        <p>Contact: <span th:text="${current.contact}">Contact</span></p>
        <p>Campus: <span th:text="${current.campus.toString()}">Campus</span></p>
        <p>Time of Class: <span th:text="${current.classTime}">Time</span></p>
        <p>Car Model: <span th:text="${current.carModel}">Model</span></p>
        <p>Number of Seats: <span th:text="${current.seats}">Seats</span></p>
        <p>Designation Address: <span th:text="${current.address}">Address</span></p>
        <div sec:authorize="isAuthenticated()">
            <h3>Passenger Information</h3>
            <p>Passenger Name <span th:text="${current.user.fullname}">Name</span></p>
            <p>Passenger Contact: <span th:text="${current.user.contact}">Contact</span></p>
            <p>Passenger's Address: <span th:text="${current.user.address}">Address</span></p>
            <div th:if="${#authentication.name == current.user.username || #authorization.expression('hasRole('DRIVER')')}">
                <div th:if="${effect == false}">
                    <h4>Mark Ride as Effected</h4>
                    <form method="POST" th:action="@{'/view/list/' + ${current.id}}">
                        <input type="submit" value="Ride has been effected"/>
                    </form>
                </div>
                <!---->
                <h4>Modify Item Information</h4>
                <form method="GET" th:action="@{'/view/modify/' + ${current.id}}">
                    <input type="submit" value="Modify Item"/>
                </form>
                <!---->
                <h4>Delete Item</h4>
                <form method="GET" th:action="@{'/view/delete/' + ${current.id}}">
                    <input type="submit" value="Delete Item"/>
                </form>
            </div>
        </div>
        <div sec:authorize="isAnonymous()">
            <h3>User Information is Hidden</h3>
            <p>Please <a th:href="@{/login}">login</a> to view</p>
        </div>
    </main>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>